{% extends 'layouts/main.html' %}

{% block content %}
<div class="col-lg-12 col-12 mt-3">
    <h1>Product List</h1>
    <a href="{% url 'produk-create' %}" class="btn btn-primary mb-3">Add New Product</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Bahan</th>
                <th>Warna</th>
                <th>Ukuran</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for produk in data %}
            <tr>
                <td>{{ forloop.counter0|add:data.start_index }}</td>
                <td>{{ produk.nama_produk }}</td>
                <td>{{ produk.kategori.nama }}</td>
                <td>{{ produk.harga }}</td>
                <td>{{ produk.bahan }}</td>
                <td>{{ produk.warna }}</td>
                <td>
                    {% if produk.ukuran %}
                        {{ produk.ukuran|floatformat:0 }} {{ produk.unit_ukuran }}
                    {% else %}
                        {{ produk.unit_ukuran }}
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'produk-detail' produk.pk %}" class="btn btn-info">View</a>
                    <a href="{% url 'produk-update' produk.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'produk-delete' produk.pk %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if data.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ data.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ data.number }} of {{ data.paginator.num_pages }}.
            </span>

            {% if data.has_next %}
                <a href="?page={{ data.next_page_number }}">next</a>
                <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<style>
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination .step-links a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
  }

  .pagination .step-links .current {
    margin: 0 5px;
    font-weight: bold;
  }
</style>
{% endblock content %}
