{% extends 'layouts/main.html' %}

{% block content %}
<div class="col-lg-12 col-12 mt-3">
    <h1>{{ produk.nama_produk }}</h1>
    <img src="{{ produk.gambar.url }}" alt="{{ produk.nama_produk }}" class="img-fluid" style="max-width: 200px;">
    <p><strong>Category:</strong> {{ produk.kategori.nama_kategori }}</p>
    <p><strong>Description:</strong> {{ produk.keterangan|safe }}</p>
    <p><strong>Price:</strong> {{ produk.harga }}</p>
    <p><strong>Discount:</strong> {{ produk.diskon }}%</p>
    <p><strong>Condition:</strong> {{ produk.keterangan_barang }}</p>
    <p><strong>Bahan:</strong> {{ produk.bahan }}</p>
    <p><strong>Warna:</strong> {{ produk.warna }}</p>
    <p><strong>Ukuran:</strong> {{ produk.ukuran|floatformat:0 }} {{ produk.unit_ukuran }}</p>
    <p><strong>Contact:</strong> {{ produk.no_whatsup }}</p>
    <a href="{% url 'produk-update' produk.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'produk_admin' %}" class="btn btn-secondary">Back to List</a>
</div>
{% endblock content %}
